  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Russo+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bruno+Ace&family=Castoro+Titling&family=Courgette&family=Dancing+Script&family=Kalam:wght@700&family=Kanit:ital@1&family=Lobster&family=Righteous&family=Roboto+Mono:ital,wght@1,300&family=Sigmar&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bruno+Ace&family=Castoro+Titling&family=Dancing+Script&family=Kalam:wght@700&family=Kanit:ital@1&family=Lobster&family=Righteous&family=Roboto+Mono:ital,wght@1,300&family=Sigmar&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Dancing+Script&family=Kalam&family=Kanit:ital@1&family=Lobster&family=Righteous&family=Roboto+Mono:ital,wght@1,300&family=Sigmar&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Pacifico&family=Russo+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,200;1,400;1,600&family=Pacifico&family=Russo+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,200;1,400;1,600&family=Pacifico&family=Press+Start+2P&family=Russo+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,200;1,400;1,600&family=Pacifico&family=Press+Start+2P&family=Russo+One&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,200;1,400;1,600&family=Pacifico&family=Press+Start+2P&family=Russo+One&display=swap');


  * {
      margin: 0;
      padding: 0;
  }

  .sidebar {
      background-color: rgb(79, 2, 98);
     transition: transform 0.3s ease-in-out;
      height: 1000px;
      font-family: 'Bruno Ace SC', cursive;
      color: #faf3f3;


  }

  .sidebar nav {
      padding: 45px;


  }

  .sidebar nav li {
      list-style: none;
      font-size: 30px;
      padding: 33px 0;
  }

  .sidebar nav li a {
      color: rgb(255, 255, 255);
      text-decoration: none;
  }

  .main {
      background-color: rgb(244, 237, 250);
      width: 120vw;
      padding-left: 33px;

  }

  .container {
      display: flex;
  }

  .infocontainer {
   
      background-color: rgb(236, 219, 243);
      height: 72vh;
      width: 80vw;
      margin: 144px auto;
      display: flex;
      justify-content: space-around;
  }

  .devInfo {
      display: flex;
      justify-content: center;
      flex-direction: column;

  }

  .devpic1 img{}

  .devpic img {
      height: 68vh;
  }

  .hello {
      font-size: 50px;
      margin-left: 30px;
      font-family: 'Kalam', cursive;
      color: #530063;
      text-decoration: underline;
  }


  .name {
      font-size: 70px;
      margin-left: 30px;
      font-family: 'Bebas Neue', sans-serif;


  }

  .about {
      font-size: 25px;
      margin-bottom: 12px;
      margin-left: 30px;
      font-family: 'Righteous', cursive;
  }

  .buttons button {
      margin-left: 25px;
      font-size: 18px;
      font-family: 'Russo One', sans-serif;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: rgb(239, 185, 252);
      border-radius: 10px;
  }

  .buttons2 {
      margin-left: 15px;
      margin-top: 10px;
      font-size: 15px;
      font-family: 'Russo One', sans-serif;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: rgb(239, 185, 252);
      border-radius: 10px;


  }

  .buttons2:hover {
      background-color: rgb(236, 219, 243);
      color: #530063;
  }

  .buttons button:hover {
      background-color: rgb(236, 219, 243);
      color: #530063;
  }

  .moreabout {
      margin-bottom: 10px;
      margin-left: 30px;
      color: #34053d;
      font-size: 15px;
      font-family: 'Montserrat Alternates', sans-serif;
      margin-bottom: 20px;
  }

  .contactfrom {
      padding-left: 100px;
      padding-top: 64px;
      font-family: 'Righteous', cursive;

  }

  .contactfrom h1 {
      font-family: 'Bebas Neue', sans-serif;
      text-decoration: underline;
      text-align: center;
      font-size: 50px;
      padding-bottom: 30px;
  }

  .contactfrom form div {
      padding: 20px 10px;

  }

  #emailHelp {
      font-size: 12px;
      color: #b90e0e;
  }

  .blogcontainer h1 {
      text-decoration: underline;
      margin-left: 10px;
      font-family: 'Bruno Ace SC', cursive;
  }

  .blogItem h2 {

      margin-top: 35px;
      margin-left: 10px;
      font-family: 'Press Start 2P', cursive;

  }

  .blogItem p {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 5px;
  }

  .skillcontainer {
      padding-left: 20px;
  }

  .skillcontainer h1 {
      margin-top: 10px;

      text-decoration: underline;
      text-decoration-color: #530063;
      font-family: 'Bruno Ace SC', cursive;
  }

  .skillcontainer p {
      margin-top: 10px;

  }

  .skillcontainer h2 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 30px;
      text-decoration: underline;
      text-decoration-color: #530063;
      font-family: 'Bruno Ace SC', cursive;
  }
  .skillcontainer h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #530063;
    font-family: 'Bruno Ace SC', cursive;
}


  .skillcontainer div {

      width: 236px;
      height: 20px;
      background-color: #530063;
      color: #f2e2f7;
      margin-bottom: 8px;
  }
  .sidebargo{
    transform: translate(-443px,0px);
    position: absolute;
  }
  .ham{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 20px;
  }
